article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background-attachment: fixed;
	background-color: #6ca2e0;
	background-image: url("");
	background-position: top center;
	background-repeat: no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
	font-family: 'DejaVu Sans Condensed', 'Arial';
	font-size: 13px;
}

img.navDock {
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

img.navDock:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

nav#navBarTop {
	position: fixed;
	left: 0;
    top: 0;
	width: 100%;
	height: 64px;
	z-index: 32;
	
    background-color: #102040;
	box-shadow: 0 2px 4px #102040;
	opacity: 0.90;
}

nav#navBarBottom {
	position: fixed;
	left: 0;
    bottom: 0;
	width: 100%;
	height: 64px;
	z-index: 32;
	
	background-color: #102040;
	box-shadow: 0 -2px 4px #102040;
	opacity: 0.90;
	color: #fff;
}

nav ul {
	list-style: none;
}

nav .navBarListLeft {
    position: relative;
	left: 0;
    top: 0;
	padding-left: 16px;
	padding-top: 5px;
}

nav .navBarListRight {
    position: absolute;
	right: 0;
    top: 0;
	padding-right: 16px;
	padding-top: 5px;
}

nav li {
	display: inline;
	padding-right: 8px;
	
    font-size: 12px;
	color: #fff;
}

nav a {
	font-weight: normal;
	text-decoration: none;
	color: #fff;
    
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

nav a:hover {
    text-shadow: 0 0 8px #fff;
}

div#divLogo {
    position: fixed;
    left: 16px;
    bottom: 80px;
}

div#divBanner {
	position: absolute;
	left: 38%;
    top: 128px;
	width: 56%;
    padding: 32px;
    
    text-align: right;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 16px #fff;
}

div#divBanner div#divSignature {
    text-align: center;
}

div#divSeparator1 {
    position: absolute;
	left: 38%;
    top: 368px;
    width: 62%;
    height: 1px;
    
    background: #bbddff;
}

div#divSeparator2 {
    position: absolute;
	left: 66%;
    top: 368px;
    width: 1px;
    height: 2500px;
    margin-left: 16px;
    
    background: #bbddff;
}

div#divMiddle {
	position: absolute;
	left: 38%;
    top: 384px;
	width: 28%;
    padding-right: 32px;
}

div#divRight {
	position: absolute;
	left: 66%;
    top: 384px;
	width: 28%;
    padding-left: 32px;
}

div.divCategory {
	position: relative;
	padding: 16px;
	margin-bottom: 16px;
    
	background-color: #3e7ac2;
	border-radius: 8px;
	box-shadow: 0 0 16px 0 #fff;
	opacity: 0.95;
	color: #fff;
}

div.divCategory a {
    color: #fff;
	font-weight: bold;
	text-decoration: none;
	
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory a:hover {
	color: #102040;
}

div.divCategory h1.hTitle1 {
	position: relative;
	top: -8px;
	
	font-size: 16px;
	font-weight: bold;
}

div.divCategory h1.hTitle2 {
	position: relative;
	top: -8px;
	
	font-size: 13px;
	font-weight: bold;
}

div.divCategory div.divExtLinks {
	position: absolute;
	right: 16px;
    top: 16px;
	width: 50%;
	
	text-align: right;
}

div.divCategory article.articleScrap {
	position: relative;
	padding: 8px;
	margin-top: 0px;
	
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #102040;
	opacity: 0.95;
    color: #102040;
}

div.divCategory article.articleScrap a {
    color: #102040;
	font-weight: bold;
    text-decoration: none;
}

div.divCategory article.articleScrap a:hover {
    text-decoration: underline;
}

div.divCategory aside.asideScrap {
	position: absolute;
	left: 55%;
	width: 40%;
	
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

div.divCategory section.sectionScrap {
	position: relative;
	left: 0;
	width: 100%;
	
	font-style: italic;
}

div.divCategory img.imgScrap {
	border-radius: 4px;
	
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory img.imgScrap:hover {
	box-shadow: 0 0 8px 2px #102040;
}

div.divCategory div.divIndex {
	position: relative;
	margin-bottom: 4px;
	
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory div.divIndex:hover {
    border-radius: 4px;
	box-shadow: 0 0 0 2px #102040;
}

div.divCategory div.divIndexTitle {
	left: 0;
	width: 100%;
}

div.divCategory div.divIndexDate {
	position: relative;
	left: 70%;
    top: 0;
	width: 30%;
	
	text-align: right;
}

div#divTitle {
	position: fixed;
	left: 4%;
    top: 128px;
	width: 30%;
	
	text-align: center;
    color: #102040;
    text-shadow: 0 0 16px #fff;
}

div#divTitle div#divTitleNav {
	position: fixed;
	left: 4%;
    bottom: 128px;
	width: 30%;
}

div#divPost {
	position: absolute;
	left: 38%;
    top: 128px;
	width: 56%;
	padding: 16px;
	
	background-color: #6ca2e0;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #fff;
	opacity: 0.95;
	color: #000;
}

div#divPost a {
    color: #102040;
	font-weight: bold;
    text-decoration: none;
	
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div#divPost a:hover {
    border-radius: 4px;
	box-shadow: 0 0 0 2px #102040;
}

div#divPost article#articlePost {
	padding: 16px;
    margin-bottom: 16px;
    
    background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #102040;
	opacity: 0.95;
	font-size: 15px;
	line-height: 150%;
    color: #000;
}

div#divPost div#divDisqus {
    margin-bottom: 64px;
}

div#galleria {
    height: 400px;
}

::-webkit-scrollbar {
	width: 16px;
	background-color: #102040;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 99px rgba(187, 221, 255, 0.5);
	border: solid transparent;
	border-width: 6px 4px;
}

div#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.9;
}

div#maskText {
    position: fixed;
    left: 25%;
    width: 50%;
    top: 40%;
    color: #fff;
    text-align: center;
}

div#maskText a {
    font-weight: bold;
    color: #fff;
}
