/*! sans mono theme v0.1.0 | Public Domain */

body {
  width: 60%;
  padding: 5% 10%;
  background: ivory;
  font-family: Helvetica, 'Liberation Sans', Arial, freesans, sans-serif;
}

code {
  font-size: .9em;
  font-family: Consolas, 'Liberation Mono', 'Droid Sans Mono', 'DejaVu Sans Mono', Courier, freemono, monospace;
}

a {
  color: maroon;
}

#TOC {
  position: fixed;
  width: 20%;
  right: 5%;
  font-size: .8em;
}

#TOC ul {
  list-style: none;
  padding-left: 1em;
}
