body {
  background-attachment: fixed;
  background-image: url('https://i0.wp.com/dl.dropboxusercontent.com/s/s285j4g4rwco5d3/laugh-now.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  body {
    background-image: none;
  }
}

section h2 {
  text-align: left;
  font-variant: small-caps;
}

section h2 a:hover::after {
  content: " […]";
}

section ul {
  list-style-type: none;
}

section li {
  transition: .5s;
  color: ivory; /* $B */
}
section li:hover {
  color: firebrick; /* $F */
}

div#content hr {
  width: 61.8%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(178, 34, 34, 0.5), rgba(0, 0, 0, 0));
}

aside#soimort-links {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 2.5%;
  text-align: center;
  font-size: 24px;
}

aside#soimort-links #soimort {
  position: relative;
  top: .1em;
}

aside#soimort-toolbar {
  visibility: hidden;
}
