
section h2 {
  border-image: linear-gradient(to right, ivory, firebrick) 4;
  border-style: solid;
  border-width: 0 0 2px 0;

  text-align: right;
  font-size: 1.25em;
  font-variant: small-caps;
}

section h2 strong {
  font-size: .75em;
  opacity: .5;
}

section blockquote {
  margin: 0;
  text-align: right;
  font-size: .9em;
  font-style: italic;
}

section ul {
  list-style-type: none;
}

section li em {
  float: right;

  font-size: .8em;
  font-style: normal;
  opacity: .5;
}

section li strong {
  font-size: .8em;
  font-weight: normal;
  padding: 8px;
  opacity: .5;
}

div#content hr {
  width: 61.8%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(178, 34, 34, 0.5), rgba(0, 0, 0, 0));
}

div#content figure img {
  /* box-shadow: 2px 2px 8px; */
}

div#content figure figcaption {
  /* padding-top: 1em;
  opacity: .5; */
  visibility: hidden;
}

aside#soimort-links {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 2.5%;
  text-align: center;
  font-size: 24px;
}

aside#soimort-links #soimort {
  position: relative;
  top: .1em;
}

aside#soimort-toolbar {
  visibility: hidden;
}
