<article class="articleScrap">
    <aside class="asideScrap">
        <h3>Mort Yao</h3>
        soimort<br /><br />
        スミたん(・ω＜)
    </aside>
    
    <section class="sectionScrap">
        <a href="#"><img src="http://i.imgur.com/ElFaE.jpg" width="30%" alt="avatar" class="imgScrap" /></a>
        <p>
        Half Geek, Half Artist / Pragmatist / C / Go / Ruby / Haskell初心者 / HTML5 / Qt / UX Design / Anti-utopian / Metaphysical Art / Neue Deutsche Todeskunst / Neofolk / Post-rock / Trip-hop / Visual Kei / J-pop / AKB48(´・ω・`) / 松井玲奈一生神推し / 偶像宅 / 半吊子極客 半吊子設計師 / 愛旦那 愛雷娘 / 我是光榮的DD黨 / 杯具量產機 / 雜草魂 / 年中無休中二病 / 歡迎來到我的個人主頁，一句話：愛看看，不看滾
        </p>
    </section>
</article>
