<article class="articleScrap">
    <aside class="asideScrap">
        <h2>Mort Yao</h2>
        <h3>ヤオ “すみ” モート</h3>
        (soimort)
    </aside>
    
    <section class="sectionScrap">
        <a href="#"><img src="http://i.imgur.com/4z2JJ.jpg" width="30%" alt="avatar" class="imgScrap" /></a>
        <p>
        Half geek, half artist / 半吊子極客，半吊子設計師 / A daydreamer believin' in simplicity & pragmatism / Visual art / UX design / Open source enthusiast / Dystopian / Metal music, Visual Kei, J-pop / Travelling solo / Living on the bleeding edge of the looking glass / アイドルオタク / 三次元偶像宅 / 引きこもり / 人畜無害干物男 / Peter Pan syndrome / 年中無休中二病 / 杯具量產機 / 雜草魂 / 夢の世界へようこそ
        <br />
        (´・ω・`)
        </p>
    </section>
</article>
