
<a href="http://soimort.blogspot.se/2012/03/blog-post.html">
    <div class="divIndex">
        <div class="divIndexTitle">【随拍】「空」</div>
        <div class="divIndexDate">19 Mar 2012</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2012/03/x-japan-vanishing-vision-1988.html">
    <div class="divIndex">
        <div class="divIndexTitle">【歌词翻译（未定稿）】X Japan - 红 (Vanishing Vision, 1988版)</div>
        <div class="divIndexDate">10 Mar 2012</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2012/03/kino-star-called-sun.html">
    <div class="divIndex">
        <div class="divIndexTitle">【歌词翻译】Kino - The Star Called Sun</div>
        <div class="divIndexDate">3 Mar 2012</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2012/03/time-lapse.html">
    <div class="divIndex">
        <div class="divIndexTitle">【推荐】微速度撮影 Time Lapse</div>
        <div class="divIndexDate">2 Mar 2012</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2012/02/love-song.html">
    <div class="divIndex">
        <div class="divIndexTitle">【歌词翻译】岡林信康 - 君に捧げるLOVE SONG</div>
        <div class="divIndexDate">26 Feb 2012</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2011/12/blog-post_07.html">
    <div class="divIndex">
        <div class="divIndexTitle">【影评】就算记忆消失了，这份感觉不会消失。——《穿越时空的少女》</div>
        <div class="divIndexDate">7 Dec 2011</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2011/11/blog-post_19.html">
    <div class="divIndex">
        <div class="divIndexTitle">【随笔】科大琐忆</div>
        <div class="divIndexDate">19 Nov 2011</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2011/07/blog-post.html">
    <div class="divIndex">
        <div class="divIndexTitle">【影评】拜城冬季——《爱在拜城》</div>
        <div class="divIndexDate">31 Jul 2011</div>
    </div>
</a>

<a href="http://soimort.blogspot.com/2008/12/must-say-goodbye.html">
    <div class="divIndex">
        <div class="divIndexTitle">【影评】Must say goodbye——《触不到的恋人》</div>
        <div class="divIndexDate">21 Dec 2008</div>
    </div>
</a>
