
<a href="http://book.douban.com/doulist/1470287/">
    <div class="divIndex">
        <div class="divIndexTitle">【读书】极客养成计划（计算机科学入门必读书目）</div>
        <div class="divIndexDate">26 Feb 2012</div>
    </div>
</a>

<a href="http://music.douban.com/doulist/1470251/">
    <div class="divIndex">
        <div class="divIndexTitle">【音乐】交响 / 厄运 / 新古典 名作收藏</div>
        <div class="divIndexDate">26 Feb 2012</div>
    </div>
</a>

<a href="http://movie.douban.com/doulist/1469612/">
    <div class="divIndex">
        <div class="divIndexTitle">【电影】美妙的新世界——反乌托邦主题集合</div>
        <div class="divIndexDate">26 Feb 2012</div>
    </div>
</a>

<a href="http://movie.douban.com/doulist/1469642/">
    <div class="divIndex">
        <div class="divIndexTitle">【电影】生・死・爱・欲</div>
        <div class="divIndexDate">26 Feb 2012</div>
    </div>
</a>

<a href="http://movie.douban.com/doulist/1464150/">
    <div class="divIndex">
        <div class="divIndexTitle">【电影】新浪潮电影荟萃（25部） / Les meilleurs films de La Nouvelle Vague</div>
        <div class="divIndexDate">21 Feb 2012</div>
    </div>
</a>
