
<a href="http://www.go-hero.net/jam/12/name/soimort" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle"><b>Google Code Jam 2012</b></div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Participating now...)</i></div>
    </div>
</a>

<a href="http://www.go-hero.net/jam/11/name/soimort" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">Google Code Jam 2011</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Participant)</i></div>
    </div>
</a>

<a href="http://www.go-hero.net/jam/10/name/soimort" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">Google Code Jam 2010</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Participant)</i></div>
    </div>
</a>

<a href="http://2010.igem.org/Team:USTC_Software" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">iGEM 2010 - USTC Software</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Team shirt design; Contributor to GUI and wiki)</i></div>
    </div>
</a>

<a href="http://2009.igem.org/Team:USTC_Software/Home" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">iGEM 2009 - USTC Software</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(GUI programmer)</i></div>
    </div>
</a>

<a href="https://aur.archlinux.org/account.php?Action=AccountInfo&ID=42969" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">Arch User Repository</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Contributor)</i></div>
    </div>
</a>

<a href="http://en.wikipedia.org/wiki/User:Soimort" target="_blank">
    <div class="divIndex">
        <div class="divIndexTitle">Wikipedia</div>
        <div class="divIndexDate" style="left: 0%; width: 100%;"><i>(Contributor)</i></div>
    </div>
</a>
