<ul style="font-weight: normal">
    <li><a href="http://www.go-hero.net/jam/11/name/soimort" target="_blank">Google Code Jam 2011</a></li>
    <li><a href="http://www.go-hero.net/jam/10/name/soimort" target="_blank">Google Code Jam 2010</a></li>
    
    <li><a href="http://en.wikipedia.org/wiki/User:Soimort" target="_blank">Wikipedia</a></li>
    
    <li><a href="https://aur.archlinux.org/account.php?Action=AccountInfo&ID=42969" target="_blank">AUR (Arch Linux)</a></li>
    <li><a href="http://qt-project.org/member/121606" target="_blank">Qt Project</a></li>
    <li><a href="http://live.gnome.org/MortYao" target="_blank">GNOME</a></li>
</ul>
