
<!-- You-Get -->
<article class="articleScrap">
    <aside class="asideScrap">
        You-Get
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/you-get" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="You-Get" class="imgScrap" /></a>
        <br />
        a YouTube/Youku/Niconico video downloader written in Python 3<br />
        <a href="http://packages.python.org/you-get">packages.python.org/you-get</a>
    </section>
</article>

<!-- Python-romkan -->
<article class="articleScrap">
    <aside class="asideScrap">
        Python-romkan
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/python-romkan" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="python-romkan" class="imgScrap" /></a>
        <br />
        a Romaji/Kana conversion library for Python<br/>
        <a href="http://packages.python.org/romkan">packages.python.org/romkan</a>
    </section>
</article>

<!-- Horseshit -->
<article class="articleScrap">
    <aside class="asideScrap">
        Horseshit
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/horseshit" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="horseshit" class="imgScrap" /></a>
        <br />
        a small script to configure your hosts and help you get shit done<br/>
        <a href="http://www.soimort.org/horseshit">www.soimort.org/horseshit</a>
    </section>
</article>

<!-- Mayuki -->
<article class="articleScrap">
    <aside class="asideScrap">
        Mayuki
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/mayuki" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="Mayuki" class="imgScrap" /></a>
        <br />
        a minimalist Markdown/YAML-based static wiki generator<br/>
        <a href="http://www.soimort.org/mayuki/">www.soimort.org/mayuki</a>
    </section>
</article>

<!-- google_plus_archiver -->
<article class="articleScrap">
    <aside class="asideScrap">
        google_plus_archiver
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/google_plus_archiver" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="google_plus_archiver" class="imgScrap" /></a>
        <br />
        a simple command-line tool to archive Google+ profiles and public streams
    </section>
</article>

<!-- google-translate-cli -->
<article class="articleScrap">
    <aside class="asideScrap">
        Google Translate CLI
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/google-translate-cli" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="google-translate-cli" class="imgScrap" /></a>
        <br />
        Google Translate to serve as a command line tool<br/>
        <a href="http://www.soimort.org/google-translate-cli/">www.soimort.org/google-translate-cli</a>
    </section>
</article>

<!-- www.soimort.org -->
<article class="articleScrap">
    <aside class="asideScrap">
        www.soimort.org
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/soimort.github.com" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="www.soimort.org" class="imgScrap" /></a>
        <br />
        this website itself! written in HTML5/CSS3/JavaScript and built with Jekyll
    </section>
</article>

<!-- cpcat -->
<article class="articleScrap">
    <aside class="asideScrap">
        cpcat
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/cpcat" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="cpcat" class="imgScrap" /></a>
        <br />
        a simple package management, file backup and synchronization script, written in Bash
    </section>
</article>

<!-- MinGW SC -->
<article class="articleScrap">
    <aside class="asideScrap">
        MinGW SC
    </aside>
    
    <section class="sectionScrap">
        <a href="http://code.google.com/p/mingwsc/" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="MinGW SC" class="imgScrap" /></a>
        <br />
        a MinGW (Minimalist GNU for Windows) "distribution"
    </section>
</article>

<!-- iGaME-GEM -->
<article class="articleScrap">
    <aside class="asideScrap">
         iGaME-GEM
    </aside>
    
    <section class="sectionScrap">
        <a href="https://github.com/soimort/iGaME-GEM" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="iGaME-GEM" class="imgScrap" /></a>
        <br />
        an educational web game for synthetic biology, written in JavaScript
    </section>
</article>

<!-- ABCD GUI -->
<article class="articleScrap">
    <aside class="asideScrap">
        ABCD GUI
    </aside>
    
    <section class="sectionScrap">
        <br />
        <a href="http://2009.igem.org/Team:USTC_Software/Notebook" target="_blank">iGEM 2009 USTC_Software</a> team project: Automatic Biological Circuit Design GUI Editor, written in C++/Qt
    </section>
</article>
