nav#navBarTop .navBarListRight, nav#navBarBottom .navBarListLeft {
    visibility: hidden;
}

div#divLogo, div#divSeparator1, div#divSeparator2 {
    visibility: hidden;
}

div#divBanner {
    left: 10%;
    top: 64px;
	width: 80%;
}

div#divMiddle {
	position: relative;
	left: 32px;
    top: 352px;
    width: 90%;
}

div#divRight {
	position: relative;
	left: 0;
    top: 352px;
	width: 90%;
}

div#divRight div#div0 {
	margin-bottom: 512px;
}

div#divTitle {
	position: absolute;
	left: 10%;
	top: 128px;
    width: 80%;
	
	text-align: center;
}

div#divTitle div#divTitleNav {
	visibility: hidden;
}

div#divPost {
    position: absolute;
    top: 256px;
	left: 5%;
	width: 85%;
}
