
#content > figure:first-of-type > img {
  width: 96px;
  height: 96px;
  padding: 0;
  border-radius: 16px;
  box-shadow: 0 0 .5em 0 rgba(0,0,0,.5);
  transition: .5s;
  background-image: url('https://i0.wp.com/dl.dropboxusercontent.com/s/1tzl7x5iduxgr9m/perky-lambda_96.png');
}

#content > figure:first-of-type > img:hover {
  background-image: url('https://i0.wp.com/dl.dropboxusercontent.com/s/cjc1aw9sa4pc1ex/soimort_mono_heart_96.jpg');
}

p:first-of-type::first-letter { /* drop cap */
  float: left;
  padding-right: .1em;
  font-size: 3.5em;
  line-height: 1em;
}

p:last-of-type {
  text-align: right;
}
