---
layout: main
background-image: http://i.imgur.com/fr1sk.jpg
author: Mort
title: GSoC 2012
---
<div id="divTitle">
    <h1>Google Summer of Code 2012</h1>
    <b>29 Mar 2012</b>, by <b>Mort</b>
    <p>Google Summer of Code 2012 Project Proposal</p>
    <div id="divTitleNav">
        <a href="/"><img src="/~images/left-arrow.png" class="navDock" /></a>
    </div>
</div>

<div id="divPost">
    <article id="articlePost">
        {% for post in site.posts %}
        {% if post.layout == 'post' and post.tag == 'gsoc' %}
        {{ post.content }}
        {% endif %}
        {% endfor %}
    </article>
    
    <div class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'soimort';
            var disqus_url = 'http://www.soimort.org{{ page.url }}';
            
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    
    <div class="div0"></div>
</div>
